@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #ea8233;
  --primary-color-dark: #ea8233;
  --secondary-color: #ea8233;
  --text-dark: #f5f2ee;
  --text-light: #edf0f5;
  --extra-light: #070707;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #161616;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family:'Times New Roman', Times, serif;
}

nav .logo a {
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight:5px ;
  color: var(--primary-color);
  transition: 0.3s;
  letter-spacing: 2px;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
 
  padding: 1.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}
.section1 {
    background-color: var(--extra-light);
  }

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-left: 20px;
}
.section1__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin-left: 20px;
  }

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
  color: #ea8233;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}
.description2{
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
  display: grid;
  place-items: center;
  width: min(25rem, 90%);
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: white;
  font-size: rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0.2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--primary-color-dark);
  font-family: 'Times New Roman', Times, serif;
  
}

.portfolio:hover {
  background-color: white;
  border: 1px solid white;
  color: var(--primary-color-dark);
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  /* border-radius: 100%; */
}
.image1{
  
  place-items: center;
}
.image1 img{
    width: min(90rem, 185%);
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .section1__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }
  .image1 {
    grid-area: 1/1/2/2;
    margin-right: 50px;
  }

  .action__btns {
    margin: auto;
  }
}

/* .............................. */

/* ----------------------------About -------------------------*/

.about{
  margin: 0%;
  color: var(--primary-color-dark);
  padding: 10px 30px; 
  text-align: center;
}

.about-col-1{
  width: 100%;
  height: 100%;
  background-color: #f8841f;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px 30px;
}

.about-col-1 p{
  font-size: 20px;
  line-height: 30px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.about .subtitle{
  font-family: 'Times New Roman', Times, serif;
}

/* card skill */
.container-1{
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  margin-top: 10px;
}
.container-1 .subtitle-1{
  margin-bottom: 50px;
  font-family: 'Times New Roman', Times, serif;
}


/* card page */

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 4%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family:'Times New Roman', Times, serif;
  background-color: var(--body-color);
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container-2 {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  margin-top: 10px;
}
.container-2 .subtitle{
 
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container-1 {
    margin-inline: 1rem;
  }
  .container-2 {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container-1 {
    height: 100vh;
  }
  .container-2 {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}




/* ===== FOOTER =====*/
.footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  font-weight: var(--small-font-size);
  padding: 2rem 0;
  width: 100%;
  height: 100%;
  font-family:'Times New Roman', Times, serif;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.footer__social {
  margin-bottom: 20px;
}

.footer__icon {
  font-size: 1.5rem;
  color: #fefbfb;
  margin: 0 20px;
}

.footer__copy {
  font-size: var(--text-dark);
}










/* contact page */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.contact-form{
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background: #0b0b0b;
    padding: 30px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-items: center;
}
.container{
    max-width: 800px;
    margin-top: 0 auto;
}
.contact-form h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    font-family: 'poppins';
}
.contact-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 149, 0);
    text-align: center;
}
.contact-form .main{
    position: relative;
    display: flex;
    margin: 30px 0;
}
.content1{
    flex-basis: 50%;
    padding: 2em 2em;
    background: #5d5050;
    box-shadow: 2px 9px 49px -17px rgba(182, 109, 138, 0.1);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-img{
    flex-basis: 50%;
    background-color: #5d5050;
  
    background-size: cover;
    padding: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: grid;
    border-radius: 10px;
}
.form-img img{
    max-width: 100%;
}
.btn,
button,
input{
    border-radius: 35px;
}
.btn:hover,
button:hover{
    color: #171615;
    transition: 0.5s ease;
}
.contact-form form{
    margin: 30px 0;
}
.contact-form input,
textarea{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease;
}
.contact-form input:focus{
    background: transparent;
    border: 1px solid #69275c;
}
.contact-form button{
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #ea8233;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
    border: 1px solid #708384;

}
@media(max-width:736px){
    .contact-form .main{
        flex-direction: column;
    }
    .contact-form form{
        margin-top: 30px;
        margin-bottom: 10px;

    }
    .form-img{
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .content{
        order: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}
